/* adapted from https://www.joshwcomeau.com/css/custom-css-reset/ */
@layer ori-reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      /* allow animating to 'auto' and other keywords */
      interpolate-size: allow-keywords;
    }

    body {
      scroll-behavior: smooth;
    }
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  textarea,
  select {
    color: inherit;
    font: inherit;
  }

  button {
    cursor: pointer;
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  /* https://meowni.ca/hidden.is.a.lie.html */
  [hidden] {
    display: none !important;
  }

  [aria-disabled="true"],
  [disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @media screen and (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      animation-delay: 0.01ms !important;
      transition-duration: 0.01ms !important;
    }
  }
}
